@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
   /* Cores da plataforma */
  --color-primary: #1C1C1C;
  --color-secondary: #B3B3B3;
  --color-background-secondary: #3C3C3C;
  --color-background: #F5F5F5; 
}

:root {
  /* Fontes da plataforma */
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Cor de fundo */
  background-color: var(--color-background);

}
